* {
    font-family: sans-serif;
}
article {
    border: 3px solid black;
}

article h2:first-child {
    text-align: center;
}

.shipping-cost {
    color: #444;
    font-weight: bold;
}

a:link {
    color: black;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: square;
}

button {
    font-size: 1.2rem;
    color: #fff;
    border: none;
    background-color: black;
}
button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}
