* {
    font-family: sans-serif;
}
article {
    border: 3px solid black;
}

article h2:first-child {
    text-align: center;
}

img {
    display: flex;
}

.shipping-cost {
    color: #444;
    font-weight: bold;
}

a:link {
    color: black;
}

li {
    list-style: square;
}

button {
    font-size: 1.2rem;
    color: #fff;
    border: none;
    background-color: black;
}
